<?xml version="1.0"?>
<launch>
  <arg name="lowerb_hue" default="0"/>
  <arg name="upperb_hue" default="179"/>
  <arg name="lowerb_luminance" default="0"/>
  <arg name="upperb_luminance" default="50"/>
  <arg name="lowerb_saturation" default="0"/>
  <arg name="upperb_saturation" default="255"/>
  <arg name="endeffector_x" default="650"/>
  <arg name="endeffector_y" default="410"/>
  <arg name="p_gain" default="0.0001"/>
  <arg name="i_gain" default="0.0000001"/>
  <arg name="d_gain" default="0.0001"/>
  <arg name="sim" default="False"/>

  <!-- generate mask -->
  <node pkg="camera" type="mask.py" name="generate_mask_node">
    <param name="lowerb_hue" value="$(arg lowerb_hue)"/>
    <param name="upperb_hue" value="$(arg upperb_hue)"/>
    <param name="lowerb_luminance" value="$(arg lowerb_luminance)"/>
    <param name="upperb_luminance" value="$(arg upperb_luminance)"/>
    <param name="lowerb_saturation" value="$(arg lowerb_saturation)"/>
    <param name="upperb_saturation" value="$(arg upperb_saturation)"/>
    <param name="topic" value="/gimbalrotor/usb_cam/image_raw/compressed" if="$(arg sim)"/>
  </node>

  <!-- target calculator -->
  <node pkg="camera" type="get_points.py" name="detect_target_node" output="screen"/>

  <!-- image viewer -->
  <node pkg="rqt_image_view" type="rqt_image_view" name="image_viewer_node"/>

  <!-- navigator -->
  <node pkg="gimbalrotor" type="approach_target.py" name="navigation_node" output="screen">
    <param name="ee_x" value="$(arg endeffector_x)"/>
    <param name="ee_y" value="$(arg endeffector_y)"/>
    <param name="kp" value="$(arg p_gain)"/>
    <param name="ki" value="$(arg i_gain)"/>
    <param name="kd" value="$(arg d_gain)"/>
  </node>
  
</launch>
