<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="gimbalrotor_link" >

  ## dummy
  <link name="root">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.00001"/>
      <inertia
          ixx="0.000001" ixy="0.0" ixz="0.0"
          iyy="0.000001" iyz="0.0"
          izz="0.000001"/>
    </inertial>
  </link>
  <joint name="root_joint" type="fixed">
    <parent link="root"/>
    <child link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  ## link
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value ="0.000001"/>
      <inertia
          ixx="0.000001"
          ixy="0.0"
          ixz="0.0"
          iyy="0.000001"
          iyz="0.0"
          izz="0.000001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
	<box size="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0 0 0 0"/>
      </material>
    </visual>
  </link>

  <link name="fc">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.00001"/>
      <inertia
          ixx="0.000001" ixy="0.0" ixz="0.0"
          iyy="0.000001" iyz="0.0"
          izz="0.000001"/>
    </inertial>
  </link>
  <joint name="fc_joint" type="fixed">
    <child link="fc"/>
    <parent link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

</robot>
