standalone_tags:
  [
  {id: 0, size: 0.0195, name: drone_board_back},
  {id: 1, size: 0.0195, name: drone_board_front},
  {id: 2, size: 0.0395, name: drone_gripper_left},
  {id: 3, size: 0.0395, name: drone_gripper_right},
  {id: 11, size: 0.155, name: cube_pick},
  {id: 12, size: 0.155, name: cube_put_floor},
  {id: 13, size: 0.155, name: cube_pick_desk_1},
  {id: 14, size: 0.155, name: cube_pick_desk_2},
 
  ]
# ## Tag bundle definitions
# ### Remarks
#
# - name is optional
# - x, y, z have default values of 0 thus they are optional
# - qw has default value of 1 and qx, qy, qz have default values of 0 thus they are optional
#
# ### Syntax
#
# tag_bundles:
#   [
#     {
#       name: 'CUSTOM_BUNDLE_NAME',
#       layout:
#         [
#           {id: ID, size: SIZE, x: X_POS, y: Y_POS, z: Z_POS, qw: QUAT_W_VAL, qx: QUAT_X_VAL, qy: QUAT_Y_VAL, qz: QUAT_Z_VAL},
#           ...
#         ]
#     },
#     ...
#   ]
tag_bundles:
  [

  ]
